---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a dedicated Software Test Automation Engineer, I thrive on unraveling the
    intricacies of software applications. With 3+ years of experience, I
    specialize in crafting robust test automation frameworks using Cypress.io
    and implementing BDD with Cucumber. My ninja API testing skills using
    Karate.js and POSTMAN ensure seamless functionality. Collaborating with
    development teams, I excel in defect management, root cause analysis, and
    triage meetings using JIRA and HP ALM. Join me on this dynamic journey as we
    elevate software quality and revolutionize the world of testing
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Quality Assurance Engineer"
      subtitle="Dataport AöR, Potsdam, Germany"
      year="2021 - Present"
    >
      <div class="mb-5">
        <div class="text-2xl w-full font-bold"></div>
      </div>

      <ul class="list-disc md:columns-1 mx-6 text-justify">
        <li>
          Developed and maintained Cypress.io-based test automation framework
        </li>
        <li>
          Implemented BDD with Cucumber for clear test cases, conducted
          exploratory testing
        </li>
        <li>
          Collaborated with the development team to implement accessibility
          features, performed accessibility testing
        </li>
        <li>Managed bi-weekly releases, validated bug fixes</li>
        <li>
          Coordinated with external QA teams, streamlined testing processes
        </li>
        <li>
          Integrated Cypress test framework into the pipeline using GitHub
          Actions
        </li>
        <li>
          Sauce Labs integrated for cross-browser/platform testing with Cypress
        </li>
      </ul>
    </TimeLineElement>
    <p class="my-5"></p>
    <TimeLineElement
      title="Test Analyst"
      subtitle="GK Software SE, Berlin, Germany"
      year="2020 to 2021"
    >
      <div class="mb-5">
        <div class="text-2xl w-full font-bold"></div>
      </div>

      <ul class="list-disc md:columns-1 mx-6 text-justify">
        <li>
          End-to-end testing management, including requirement to release
          testing
        </li>
        <li>
          Testlink usage for efficient artifact management and JIRA defect
          tracking
        </li>
        <li>Created API testing frameworks using Karate.js and POSTMAN</li>
        <li>
          Supported mobile app testing, validating bug fixes based on acceptance
          criteria
        </li>
        <li>
          Collaborated with on/off-shore teams for effective testing processes
        </li>
        <li>
          Executedautomatedtestscriptsandmanualtestcasesforsoftwarefunctionalityand
          defect identification
        </li>
        <li>
          Participated in regular QA team meetings to discuss project progress
          and improvements
        </li>
      </ul>
    </TimeLineElement>
    <p class="my-5"></p>
    <TimeLineElement
      title="Defect Manager"
      subtitle="Mbition GmbH, Berlin, Germany"
      year="2019 to 2020"
    >
      <div class="mb-5">
        <div class="text-2xl w-full font-bold"></div>
      </div>

      <ul class="list-disc md:columns-1 mx-6 text-justify">
        <li>
          Conducted functional testing for the company’s product in various
          countries
        </li>
        <li>Validated bug fixes and performed mobile app regression testing</li>
        <li>Managed JIRA and HP ALM tickets for clear communication</li>
        <li>
          Collaborated to prioritize defects with internal and external teams
        </li>
        <li>
          Conducted root cause analysis and participated in defect triage
          meetings
        </li>
        <li>
          Worked closely with product owners and developers to prioritize fixes
        </li>
      </ul>
    </TimeLineElement>
    <p class="my-5"></p>
    <TimeLineElement
      title="IT Admin"
      subtitle="eGym GmbH, Berlin, Germany"
      year="2018 to 2019"
    >
      <div class="mb-5">
        <div class="text-2xl w-full font-bold"></div>
      </div>

      <ul class="list-disc md:columns-1 mx-6 text-justify">
        <li>
          Prompt and effective first-level technical support for hardware and
          software issues
        </li>
        <li>
          Assisted onboarding/offboarding, setting up workstations and user
          accounts
        </li>
        <li>
          Managed IT inventory, tracking and procuring hardware/software assets
        </li>
        <li>Resolved user queries through ticketing systems</li>
        <li>
          Actively participated in IT team meetings for project discussions
        </li>
        <li>Contributed to IT documentation and knowledge base updates</li>
      </ul>
    </TimeLineElement>
    <p class="my-5"></p>
    <TimeLineElement
      title="Software Quality Assurance Engineer"
      subtitle="About You SE, Berlin, Germany"
      year="2018 to 2018"
    >
      <div class="mb-5">
        <div class="text-2xl w-full font-bold"></div>
      </div>

      <ul class="list-disc md:columns-1 mx-6 text-justify">
        <li>Reviewed requirements for test plans and cases</li>
        <li>Performed functional and regression testing for app stability</li>
        <li>Assisted in automating test scripts</li>
        <li>Collaborated with development to resolve defects in JIRA</li>
        <li>
          Collaborated with QA to create test plans and data for various
          scenarios
        </li>
        <li>
          Conducted localization testing for app functionality in target markets
        </li>
        <li>
          Performed exploratory testing, providing valuable insights to the team
        </li>
        <li>
          Gathered user feedback to improve app experience in specific regions
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's Information Engineering"
      subtitle="Fachhochschule Kiel, Kiel, Germany"
      year="2017 to 2020"
    />
    <TimeLineElement
      title="Bachelor's Electronic Engineering"
      subtitle="Hamdard University, Karachi, Pakistan"
      year="2007 to 2012"
    />
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Deutsch - Telc B1
      <!-- <a href="#" target="_blank"> Certification Name (with link)</a> -->
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6">
    <li>JIRA</li>
    <li>Confluence</li>
    <li>Office 365</li>
    <li>Micro Focus Quality Center (HP ALM)</li>
    <li>Test Link</li>
    <li>XRay</li>
    <li>Webdriver.io</li>
    <li>Cypress</li>
    <li>Cucumber</li>
    <li>Git</li>
    <li>Javascript</li>
    <li>Postman</li>
    <li>Node.js</li>
    <li>HTML / CSS</li>
    <li>SauceLabs</li>
    <li>Windows OS</li>
    <li>MacOS</li>
    <li>Github Actions</li>
    <li>MongoDB</li>
  </ul>

  <p class="my-5"></p>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Languages</div>
  </div>

  <p class="my-5"></p>

  <ul class="list-disc md:columns-1 columns-1 mx-6">
    <li>Urdu - (Native)</li>
    <li>English - (Professional)</li>
    <li>Deutsch - (Intermediate)</li>
  </ul>
</BaseLayout>
