---
import { enableAllThemes } from '../config/theme.js'
import ThemeToggle from './ThemeToggle.astro'
---

{
  enableAllThemes ? (
    /* existing dropdown code here */
    <div title='Change Theme' class='dropdown dropdown-end' id='theme-selector'>
      {/* dropdown content */}
    </div>
  ) : (
    <ThemeToggle />
  )
}
